.AboutHeader{
    height: 100vh;
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0px auto;
    justify-content: space-between;
    
}
.AboutHeader-desc{
    display: flex;
    flex-direction: column;
    gap:0.6rem
}
.AboutHeader-desc h1{
    font-size: 7rem;
    /* color: rgba(0,0,0,0.5); */
    color: rgb(251, 251, 251);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.AboutHeader-desc h2{
    font-weight: 200;
    font-size: 4rem;
    /* color: rgba(0,0,0,0.8); */
    color: rgb(137, 175, 209);
    
}
.AboutHeader-desc p{
    /* color: rgba(0, 0, 0, 0.6); */
    color: aliceblue;
}
.AboutHeader-buttons{
    display: flex;
    gap: 3rem;
}

.AboutHeader-buttons div{
    width: 35%;
    background-color: rgb(87, 87, 87);
    color: aliceblue;
    font-size: 20px;
    transform: skewX(15deg);
    padding: 6px 10px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.AboutHeader-buttons  div button{
    transform: skewX(-15deg);
    border: none;
    background-color: rgb(87, 87, 87);
    color: aliceblue;
    font-size: 1.5rem;
}
.AboutHeader-buttons .contact,.AboutHeader-buttons .contact button{
    background-color: tomato;
}
.circle{
    z-index: 1;
}
.AboutHeader-image{
   position: relative;
}
.AboutHeader-image .chicken{
    position: absolute;
    left:-2rem;
    top:-4rem;
    height: 20rem;
    width: 20rem;
    z-index: 8;
   
}
.AboutHeader-image .veg{
    position: absolute;
    right:0rem;
    top:13rem;
    height: 11rem;
    width: 13.5rem;
    z-index:8;
    
}