.about-header{
    
    background-color: #070707;
    margin-top: 2rem;
}
.menuPage{
    overflow-x: hidden;
}
.menu-header{
   
    /* background-color:rgba(142, 237, 237, 0.3) ; */
    background-color: #070707;
}
